*{
margin: 0;
padding: 0;
font-family: courier new;
font-style: oblique;
}

header{
background-image: url("https://i.imgur.com/rh3B40B.jpg?1");
height: 100vh;
background-size: cover;
background-position: center;
}

body {
font-size: 20px;
}

ul{
position: absolute;
top: 2%;
right: 5%;
float: right;
list-style-type: none;
margin-top: 10px;
}

ul li{
display: inline-block;
}

ul li a{
text-decoration: none;
color: #ffffff;
padding: 5px 20px;
border: 1px solid transparent;
transition: 0.6s ease;
}

ul li a:hover{
background-color: #fff;
color: #000;
}

ul li .active a{
background-color: #fff;
color: #000;
}

.main{
max-width: 1200px;
margin: auto;
}

.title{
position: absolute;
top: 20%;
left: 25%;
transform: translate(-50%,-50%);
}

.title h1{
color: #fff;
font-size: 70px;
}

.Para1{
position: absolute;
top: 27.5%;
left: 26%;
transform: translate(-50%,-50%);
}

.Para1 p1{
color: #fff;
font-size: 1em;
text-align: left;
}

.button{ 
position: absolute;
top: 40%;
left: 25%;
transform: translate(-50%,-50%);
}

.btn{
border: 1px solid #fff;
padding: 10px 30px;
color: #F4A460;
text-decoration: none;
transition: 0.6s ease;
font-size: 45px;
}

.btn:hover{
background-color: #fff;
color: #000;
}

.OurStory{
position: absolute;
top: 34%;
left: 23%;
transform: translate(-50%,-50%);
}

.OurStory p2{
color: #fff;
font-size: 1em;
text-align: left;
}

.WishingWell{
position: absolute;
top: 198%;
left: 33.5%;
transform: translate(-50%,-50%);
}

.WishingWell p3{
color: #fff;
font-size: 1em;
text-align: left;
}

.Donate{
position: absolute;
top: 375%;
left: 35%;
transform: translate(-50%,-50%);
}

.Info{
position: absolute;
top: 34%;
left: 30.5%;
transform: translate(-50%,-50%);
}

.Info p4{
color: #fff;
font-size: 1em;
text-align: left;
}

.iframe{
position: absolute;
top: 65%;
left: 32.6%;
transform: translate(-50%,-50%);
}

.MInfo p5{
color: #fff;
font-size: 1em;
text-align: left;
}
  
  
}
